1_standard_rag/pdfs/10_deka_vault.pdf
1_standard_rag/pdfs/11_deka_vpn.pdf
1_standard_rag/pdfs/12_deka_api_list.pdf
1_standard_rag/pdfs/1_cloudeka.pdf
1_standard_rag/pdfs/2_deka_box.pdf
1_standard_rag/pdfs/3_deka_cdn.pdf
1_standard_rag/pdfs/4_deka_claw.pdf
1_standard_rag/pdfs/5_deka_dns.pdf
1_standard_rag/pdfs/6_deka_llm.pdf
1_standard_rag/pdfs/7_deka_metal.pdf
1_standard_rag/pdfs/8_deka_notebook.pdf
1_standard_rag/pdfs/9_deka_ssl.pdf
var.env
