python-dotenv==1.0.0
boto3==1.43.51
docling==2.113.0
langchain-huggingface==0.3.1
sentence-transformers>=2.7.0
langchain-postgres==0.0.17
pgvector>=0.2.5,<0.4
psycopg[binary]>=3.1,<4
langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.8
langchainhub==0.1.15
langgraph==0.2.76
openai==1.55.3
langchain-core>=0.3.70,<1.0
